extends layout

block content
  h1= title
  p Welcome to #{title}
  if error:
    p Error in getting dynamic content
  else
    p The database contains
    ul
      li #[strong Profiles:] !{data.profile_count}
