extends layout.pug

block content
    #map
    script(type='text/javascript').
        //var map = new L.Map('map', { center: new L.LatLng(#{lat},#{lng}), zoom: 5 }),
        var map = L.map('map', {maxZoom: 13, minZoom: 1, maxBounds: [[-180, -540], [180,540]]}).setView([#{lat},#{lng}], 5);
        const satelliteMap = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}',
                                    {attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community',
        });
        const googleMap = L.tileLayer('http://www.google.cn/maps/vt?lyrs=s@189&gl=cn&x={x}&y={y}&z={z}',
                                    {attribution: 'google'
        });
        const watercolor = L.tileLayer('http://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.{ext}',
                                    {attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
                                     subdomains: 'abcd',
        });
        const Esri_OceanBasemap = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/Ocean_Basemap/MapServer/tile/{z}/{y}/{x}',
                                    {attribution: 'Tiles &copy; Esri &mdash; Sources: GEBCO, NOAA, CHS, OSU, UNH, CSUMB, National Geographic, DeLorme, NAVTEQ, and Esri',
        });
        var drawnItems = new L.featureGroup().addTo(map);
        L.control.layers({
            'Esri World Imagery ': satelliteMap.addTo(map),
            'Google': googleMap.addTo(map), 
            //'Water color': watercolor.addTo(map),
            'Ocean basemap': Esri_OceanBasemap.addTo(map),
            },
            { 'draw layer': drawnItems },
            { position: 'topleft', collapsed: false }
        ).addTo(map);

        const drawOptions = {
                    edit: {
                        featureGroup: drawnItems,
                        poly: {
                            allowIntersection: false
                        }
                    },
                    draw: {
                        polygon: {
                            allowIntersection: false,
                            shapeOptions: {
                                color: '#983fb2',
                                weight: 4
                            },
                        },
                        rectangle: {
                            shapeOptions: {
                                color: '#983fb2',
                                weight: 4
                            },
                        },
                        polyline: false,
                        lineString: false,
                        marker: false,
                        circlemarker: false, 
                        circle: false
                    }
        }
        var drawControl = new L.Control.Draw(drawOptions);
        map.addControl(drawControl);

        map.on(L.Draw.Event.CREATED, function (event) {
            dates = getDateRange();
            let base = '/selection/profiles/page'
            var layer = event.layer;
            const layerCoords = layer.toGeoJSON();
            const shape = layerCoords.geometry.coordinates;
            const transformedShape = getTransformedShape(shape)
            console.log(JSON.stringify(layerCoords));
            let urlQuery = base+'?startDate='+dates.startDate+'&endDate='+dates.endDate+'&shape='+JSON.stringify([transformedShape]);

            const selectionLink = '<a href='+urlQuery+'>To selection page</a>';
            const popupText = '<b> Hello, im a shape! </b>'
                             +'<br>' + selectionLink + '</br>'
            let container = $('<div />');
            container.html(popupText);        
            layer.bindPopup(container[0]);
            drawnItems.addLayer(layer);
        });

    script(type="text/javascript", src='javascripts/profiles_on_map.js')
    