extends layout.pug

block content
    #map
    script(type='text/javascript').
        //var map = new L.Map('map', { center: new L.LatLng(#{lat},#{lng}), zoom: 5 }),
        var map = L.map('map', {maxZoom: 13, minZoom: 1, maxBounds: [[-180, -540], [180,540]]}).setView([#{lat},#{lng}], 5);
        const satelliteMap = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}',
                                    {attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community',
        });
        const googleMap = L.tileLayer('http://www.google.cn/maps/vt?lyrs=s@189&gl=cn&x={x}&y={y}&z={z}',
                                    {attribution: 'google'
        });
        const watercolor = L.tileLayer('http://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.{ext}',
                                    {attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
                                     subdomains: 'abcd',
        });
        const Esri_OceanBasemap = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/Ocean_Basemap/MapServer/tile/{z}/{y}/{x}',
                                    {attribution: 'Tiles &copy; Esri &mdash; Sources: GEBCO, NOAA, CHS, OSU, UNH, CSUMB, National Geographic, DeLorme, NAVTEQ, and Esri',
        });
        var drawnItems = new L.featureGroup().addTo(map);
        L.control.layers({
            'Esri World Imagery ': satelliteMap.addTo(map),
            'Google': googleMap.addTo(map), 
            //'Water color': watercolor.addTo(map),
            'Ocean basemap': Esri_OceanBasemap.addTo(map),
            },
            { 'draw layer': drawnItems },
            { position: 'topleft', collapsed: false }
        ).addTo(map);

        const drawOptions = {
                    edit: {
                        featureGroup: drawnItems,
                        poly: {
                            allowIntersection: false
                        }
                    },
                    draw: {
                        polygon: {
                            allowIntersection: false,
                            shapeOptions: {
                                color: '#983fb2',
                                weight: 4
                            },
                        },
                        rectangle: {
                            shapeOptions: {
                                color: '#983fb2',
                                weight: 4
                            },
                        },
                        polyline: false,
                        lineString: false,
                        marker: false,
                        circlemarker: false, 
                        circle: false
                    }
        }
        var drawControl = new L.Control.Draw(drawOptions);
        map.addControl(drawControl);

        map.on(L.Draw.Event.CREATED, function (event) {
            var layer = event.layer;
            drawnItems.addLayer(layer);
        });


        const argoIcon = L.icon({
            iconUrl: '../images/Argo_Logo_VS.gif',
            iconSize:     [35, 35], // size of the icon
            iconAnchor:   [0, 0], // point of the icon which will correspond to marker's location
            popupAnchor:  [20, 20] // point from which the popup should open relative to the iconAnchor
        });

        const argoIconBW = L.icon({
            iconUrl: '../images/Argo_Logo_VS_BW.gif',
            iconSize:     [15, 15], // size of the icon
            iconAnchor:   [0, 0], // point of the icon which will correspond to marker's location
            popupAnchor:  [20, 20] // point from which the popup should open relative to the iconAnchor
        });

        //populate map with most recent profiles
        var markersLayer = new L.layerGroup();

        const displayProfiles = function(url) {
            $.getJSON(url, function(result){
                $.each(result, function(i, profile){
                    addToMarkersLayer(profile, argoIcon, markersLayer);
                });
                markersLayer.addTo(map);
            });
        }

        var platformProfileMarkersLayer = new L.layerGroup();
        const displayPlatformProfiles = function(url) {
            $.getJSON(url, function(result){
                $.each(result, function(i, profile){
                    addToMarkersLayer(profile, argoIconBW, platformProfileMarkersLayer);
                });
                platformProfileMarkersLayer.addTo(map);            
            });
        }

        displayProfiles('/selection/lastProfiles');

        function addToMarkersLayer(profile, markerIcon, markers) {
            const selectedPlatform = profile.platform_number;
            const geoLocation = profile.geoLocation;
            const lat = geoLocation.coordinates[1].toFixed(2);
            const lon = geoLocation.coordinates[0].toFixed(2);
            const cycle = profile.cycle_number
            const profile_id = selectedPlatform.toString()+'_'+cycle.toString();

            // plots the markers on the map three times. 
            const makeWrappedCoordinates = function (coordinates) {
                const lat = coordinates[1];
                const lon = coordinates[0];
                const coords = [[lon, lat], [lon - 360, lat], [lon + 360, lat]];
                return coords;
            };

            const wrappedCoordinates = makeWrappedCoordinates(geoLocation.coordinates);

            if (markerIcon === undefined) {
                markerIcon = argoIcon;
            }
            var profileLink = "<a href='/catalog/profiles/"+profile_id+"/page' > To profile page</a>";
            const platformButton = "<input type='button' value='show all platform profiles' onclick='platformProfilesSelection("+selectedPlatform.toString()+")'>"
            const platformLink = "<a href='/catalog/platforms/" + selectedPlatform + "/page' >To platform page</a>";
            const popupText = '<b>Hello, im ' + profile_id + '!</b>'
                            + '<br>lon: ' + lon + '</b>'
                            + '<br>lat: ' + lat + '</b>'
                            + '<br>cycle: ' + cycle.toString() + '</b>'
                            + '<br>date: ' + moment(profile.date).format('YYYY-MM-DD') + '</b>'
                            + '<br>' + profileLink + '</b>'
                            + '<br>' + platformLink + '</b>'
                            + '<br>' + platformButton + '</b>'
            // Create an element to hold all your text and markup
            let container = $('<div />');
            // Delegate all event handling for the container itself and its contents to the container

            // Insert whatever you want into the container, using whichever approach you prefer
            container.html(popupText);
            
            for(let i = 0; i < wrappedCoordinates.length; i++) {
                let marker;
                const coordinates = wrappedCoordinates[i];
                marker = L.marker(coordinates.reverse(), {icon: markerIcon}).bindPopup(container[0]);
                markers.addLayer(marker);
            }
        };

        const platformProfilesSelection = function(selectedPlatform){
            if (selectedPlatform) {
                platformProfileMarkersLayer.clearLayers();
                var url = '/catalog/platforms/'+selectedPlatform;
                displayPlatformProfiles(url);
            }
        };

        $('#lastProfileSelection').on('click', function(){
            markersLayer.clearLayers();
            displayProfiles('/selection/lastProfiles');
        })

        $('#shapeSelection').on('click', function(){
            let body = {};
            // Extract dates from daterange picker
            let startDate = $('#daterange').data('daterangepicker').startDate._d;
            let endDate = $('#daterange').data('daterangepicker').endDate._d;
            startDate = moment(startDate).format('YYYY-MM-DD');
            endDate = moment(endDate).format('YYYY-MM-DD');
            body.startDate = startDate;
            body.endDate = endDate;
            // Extract GeoJson from featureGroup
            if (drawnItems) {
                let data = drawnItems.toGeoJSON();
                let features = data.features;
                body.features = features;
                //console.log("features :\n "+JSON.stringify(features));
                //console.log("number of shapes: "+features.length.toString());
                markersLayer.clearLayers();
                let base = '/selection/profiles'
                for (let i = 0; i < features.length; i++) {
                    const shape = features[i].geometry.coordinates;
                    let transformedShape = [];
                    console.log('before tranformation for shape: '+i);
                    console.log(JSON.stringify(shape));
                    console.log('number of points: '+shape[0].length);
                    for (let j = 0; j < shape[0].length; j++) {

                        //transformation if shape is outside latitude.
                        let lat = shape[0][j][0] % 360;
                        //crossing antimeridian transformation
                        if (lat < -180) {
                            lat = 180 + lat % 180;
                        }
                        let point = [lat, shape[0][j][1]];
                        transformedShape.push(point);
                    }
                    console.log('after tranformation for shape: '+i);
                    console.log(JSON.stringify([transformedShape]));
                    let urlQuery = base+'?startDate='+startDate+'&endDate='+endDate+'&shape='+JSON.stringify([transformedShape]);
                    displayProfiles(urlQuery);
                    console.log(JSON.stringify(urlQuery));
                }
            }
        });
    script(type='javascripts/profiles_on_map.js')
    