extends layout.pug


block content
    #mapSPS
    script(type='text/javascript').
        //stereographic projection
        var mycrs = new L.Proj.CRS('EPSG:3411',
                '+proj=stere +lat_0=-90 +lon_0=-45 +lat_ts=80 +k=1 +x_0=0 +y_0=0 +a=6378273 +b=6356889.449 +units=m +no_defs',
                {
                    resolutions: [
                    4096, 2048, 1024, 512, 256, 128, 64, 32, 16, 8
                    ],
                    origin: [0, 0]
                });
        var map = L.map('mapSPS', {maxZoom: 13, minZoom: 1, maxBounds: [[-180, -540], [180,540]], crs: mycrs}).setView([#{lat},#{lng}], 4);
        var drawnItems = new L.featureGroup().addTo(map);
        var myStyle = {
            "color": "#15b01a",
            "fill-rule": "evenodd",
            "weight": 1,
            "fillColor": "#033500",
            "opacity": 1,
            "fillOpacity": .9,
        };
        var geojsonLayer = new L.GeoJSON.AJAX("../images/world-countries.json", {style: myStyle});       
        geojsonLayer.addTo(map);
        L.control.layers(
            { 'draw layer': drawnItems },
            { position: 'topleft', collapsed: false }
        ).addTo(map);
    script(type='text/javascript', src='javascripts/drawn_shapes_on_map.js')
    script(type='text/javascript', src='javascripts/profiles_on_map.js')